.wrapper {
    /* display: grid;
    grid-template-areas: "aside" "doc";
    grid-template-rows: auto 1fr; */
    padding: 0 13px;
}

aside {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: white;
}

@media (min-width:768px) {
    .wrapper {
        display: grid;
        grid-template-columns: 14em 1fr;
        grid-template-rows: auto;
        grid-template-areas: "aside doc";
    }

    aside {
        /* position: -webkit-sticky;
        position: sticky;
        top: -2px; */
        position: initial;
    }
    
}

aside header {
    margin: 10px 0 20px;
    font-size: 2em;
    font-weight: 700;
    text-align: center;
}

#nav-bar ul {
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#nav-bar li {
    list-style-type: none;
}

.nav-link {
    text-decoration: none;
    line-height: 2em;
    color: black;
    margin: 0 0.4em;
}

aside header,
.nav-link {
    padding-left: 0;
}

@media (min-width:768px) {
    aside header {
        text-align: left;
    }

    #nav-bar {
        position: sticky;
        top: -5px;
    }

    #nav-bar ul {
        display: initial;
    }

    #nav-bar li {
        list-style-type: none;
        border: 1px solid grey;
    }

    aside header,
    .nav-link {
        padding-left: 20px;
    }
}

#main-doc {
    margin-top: 128px;
    text-align: justify;

    background: yellow;
}

@media (min-width:768px) {
    #main-doc {
        margin-top: 0;
        padding-left: 1em;
        padding-right: 1em;
    }
}

#main-doc header {
    margin-top: 15px;
    font-size: 1.5em;
    font-weight: 700;
}